@charset "UTF-8";
/* TABELAS */
.tables{
    display: grid;
    grid-template-rows: auto auto auto;
}

#tableFinish{
    grid-row: 1/2;
}

#tableWatching{
    grid-row: 2/3;
}

#tableWish{
    grid-row: 3/4;
}