@charset "UTF-8";

:root {
    /* Cores */
    --primary: #ff000051;
    --second: #000000;
    ---tirth: #ffffffd0;
}

* {
    margin: 0;
    font-weight: 600;
}

body {
    height: 100vh;
    background: url(../images/background/madara.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

h2 {
    margin-bottom: 0;
    background-color: #ff0000;
}

.options {
    margin: 0 5px 0 5px;
    display: flex;
    justify-content: space-between;
}

.options i {
    font-size: 20px;
}

.registerStatus {
    width: 300px;
    display: flex;
    justify-content: space-between;
}

#ratioFinish label,
#ratioWatching label,
#ratioWish label {
    display: flex;
}

#finish,
#watching,
#wish {
    width: 100%;
}

#divWathing {
    display: flex;
    flex-direction: column;
}

.tables {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 25px;
}

.list {
    table-layout: fixed;
    padding-bottom: 20px;
}

.list th {
    background-color: var(--primary);
}

.list td {
    height: 17px;
    max-height: 17px;
    overflow: hidden;
}

tbody:nth-child(odd) {
    background-color: var(--second);
    font-weight: 600;
}

tbody:nth-child(even) {
    background-color: var(---tirth);
    color: var(--second);
    font-weight: 600;
}

.th-opt {
    width: 15vh;
}

.th-name,
.th-studio {
    width: 30vh;
}

.form {
    background: #ffffff2c;
}

.hidden-divs {
    display: flex;
    justify-content: center;
}
