@charset "UTF-8";

:root {
    /* Cores */
    --primary: #ff000051;
    --second: #000000;
    ---tirth: #ffffffd0;

    --even: #d2d2d230;
    --odd: #d2d2d27d;
    

    --positive: #22ff0060;
    --positive-hover: #22ff00;
    --alter: #fff70092;
    --alter-hover: #fff700aa;
    --negative: #ff000060;
    --negative-hover: #ff0000;
}

* {
    margin: 0;
    font-weight: 600;
    font-family: 'Calibri';
}

body {
    height: 100vh;
    background: url(../images/background/luffy.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;
}

h2 {
    margin-bottom: 0;
    background-color: #ff0000;
}

input[type=text] {
    width: 130px;
}

input[type=number] {
    width: 40px;
}

.options {
    margin: 0 5px 0 5px;
    display: flex;
    justify-content: space-between;
}

.options i {
    font-size: 20px;
}

.th-opt {
    width: 15vh;
}

.th-name, .th-studio {
    width: 30vh;
}

.nav {
    background: #ffffff2c;
}

.hidden-divs {
    display: flex;
    justify-content: center;
}