@charset "UTF-8";

h1{
    text-align: center;
}

.options{
    margin: 0 5px 0 5px;
    display: flex;
    justify-content: space-between;
}

.options i{
    font-size: 20px;
}

#register{
    display: flex;
}

#name{
    width: 10px;
}
