@charset "UTF-8";

<<<<<<< HEAD
h2{
    margin-bottom: 0;
    background-color: #ff0000;
=======
h1{
    text-align: center;
>>>>>>> b1f90377aa8615557ee0ac3a03d8e0d0ba716dee
}

.options{
    margin: 0 5px 0 5px;
    display: flex;
    justify-content: space-between;
}

.options i{
    font-size: 20px;
}
<<<<<<< HEAD

input[type=ratio]{
    display: flex;
    justify-content: center;
}

.registerStatus{
    display: flex;
}

.ratioFinish label, .ratioWatching label, .ratioWish label{
    display: flex;
    justify-content: center;
}
=======
>>>>>>> b1f90377aa8615557ee0ac3a03d8e0d0ba716dee
