@charset "UTF-8";

/* BODY */
body {
    display: grid;
    grid-template-columns: 25vh;
}

/* NAV */
 /* form */
.nav{
    grid-column: 1/2;
}

/* TABELAS */
.tables {
    grid-column: 2/3;
}

#divFinish {
    grid-row: 1/2;
}

#divWatching {
    grid-row: 2/3;
}

#divWish {
    grid-row: 3/4;
}