@charset "UTF-8";

:root {
    /* Cores */
    --primary: #ff00008d;
    --second: #000000;
    --tirth: #ffffffd0;

    --even: #c4c4c486;
    --odd: #fafafa9b;
    

    --positive: #22ff0060;
    --positive-hover: #22ff00;
    --alter: #fff70092;
    --alter-hover: #fff700aa;
    --negative: #ff000060;
    --negative-hover: #ff0000;
}

* {
    margin: 0;
    font-weight: 600;
    font-family: 'Calibri';
}

body {
    height: 100vh;
    overflow: hidden;
    background: url(../images/background/luffy.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

/* TEXTO */
h1 {
    text-align: center;
}

h2 {
    margin-bottom: 0;
    background-color: #ff0000;
}

tbody td{
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

/* INPUTS */
input[type=text] {
    width: 90px;
}

input[type=number] {
    width: 40px;
}

/* TABELAS */
tbody:nth-child(even) {
    background-color: var(--even);
    color: var(--second);
    font-weight: 600;
}

tbody:nth-child(odd) {
    background-color: var(--odd);
    font-weight: 600;
}

tbody:hover {
    background-color: white;
}