@charset "UTF-8";

.list {
    width: 100%;
}

.list th {
    background-color: var(--primary);
}

.list td {
    overflow: hidden;
}

.tables {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: baseline;
    line-height: 25px;
}

.tables h1 {
    background-color: var(--primary);
    font-size: 32px;
    text-shadow: 1px 1px #ffffff87;
}

.table {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

@media(max-height: 100vh) {
    .table {
        overflow-y: scroll;
    }

    .table::-webkit-scrollbar {
        display: none;
    }
}
.options {
    display: flex;
    justify-content: space-between;
}

.options i {
    font-size: 20px;
}

.th-opt {
    width: 15vh;
}

.list .th-name, .list .th-studio{
    width: 100vh;
}

.td-options {
    display: flex;
    justify-content: space-around;
}

.btn.edit {
    width: 45%;
    height: 25px;
    cursor: pointer;
    background: none;
    border: 1px solid black;
}

.btn.edit:hover {
    background: var(--alter-hover);
    text-shadow: 1px 1px 5px black;
    color: var(--tirth);
}

.btn.delete {
    width: 45%;
    height: 25px;
    cursor: pointer;
    background: none;
    border: 1px solid black;
}

.btn.delete:hover {
    background: var(--negative-hover);
    text-shadow: 1px 1px 5px black;
    color: var(--tirth);
}

.infos {
    overflow-y: scroll;
    border-collapse: collapse;
}